*{margin: 0%;padding: 0%;}
ul{list-style-type: none;}

//變數
$primary-color:#364A68;
$primary-colortwo:#87B6E2;
$primary-colorthree:#A3B7CB;


//內容限制
.container {
    margin: auto;
    width: 90%;
    max-width: 1000px;}

//圖片內容限制

.sheep{margin: auto;
    width: 80%;
    max-width: 400px;}
.cloud{margin: auto;
    width: 80%;
    max-width: 300px;}


// 文字相關樣式
.textcolor{color:#364A68}

.title{font-size:40px;}
.insidetext{font-size:30px}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}

//字體與外距
.margin{box-sizing: border-box;margin-top:20px;margin-bottom: 20px;color: #364A68;}
.margintwo{box-sizing: border-box;margin-top:10px;margin-bottom: 20px;color: #364A68;}
.navmargin{box-sizing: border-box;margin-top:20px;margin-bottom: 40px;color: #364A68;}
.fontsize{font-size:20px;line-height: 50px;}
.footerfontsize{font-size:14px;line-height: 25px;}
//圖片外距
.margin-bottom{margin-bottom: 60px}
.margin-top{margin-top: 40px}

//圖片大小
.img-fluid{
    width: 100%;}
    
//定位方式
.parent{
 position:relative;}
//定在中間位置
.kidcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.kidctop{
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}
.moonkid{
    position: absolute;
    top: 30%;
    left: 90%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}


//漂浮
.float{float: left;}


// 區塊相關樣式
.flexcenter{
    display: flex;
    justify-content:center;
    align-items:center;} //置中定位

/*換行*/
.wrap{ display: flex;
    flex-wrap: wrap;}

//col1-12
@for $i from 1 through 12 {
    .col-#{$i}{
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 0px 15px 40px 15px;
    }
}

//col小於768
@media (max-width:767.999px){
    @for $i from 1 through 12 {
        .col-md-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
}

//col大於768
@media (min-width:768px){
    @for $i from 1 through 12 {
        .col-lg-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
}

//footer
.foot{ background-color:$primary-colorthree;
    width:100%;
}
.top-padding{padding-top: 15px;}
.bottom-padding{padding-bottom: 60px;}
.ftbottom-padding{padding-bottom: 15px;}



@media (max-width:767.999px){
    .fontsize{font-size:20px;line-height: 50px;}
    .cloud{margin: auto;
        width: 80%;
        max-width: 300px;}}

