@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a {
  color: black;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1140px;
}

.sheep {
  margin: auto;
  width: 80%;
  max-width: 360px;
}

.howtosleep-pic {
  margin: auto;
  width: 70%;
  max-width: 300px;
}

.cloud {
  margin: auto;
  width: 80%;
  max-width: 300px;
}

.icon {
  margin: auto;
  width: 60%;
  max-width: 300px;
}

.textcolor {
  color: #364A68;
}

.title {
  font-size: 40px;
}

.insidetext {
  font-size: 30px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.margin {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #364A68;
}

.margintwo {
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #364A68;
}

.navmargin {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #364A68;
}

.fontsize {
  font-size: 20px;
  line-height: 50px;
}

.footerfontsize {
  font-size: 14px;
  line-height: 25px;
}

.margin-bottom {
  margin-bottom: 60px;
}

.margin-top {
  margin-top: 40px;
}

.img-fluid {
  width: 100%;
}

.parent {
  position: relative;
}

.kidcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.kidctop {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.moonkid {
  position: absolute;
  top: 30%;
  left: 90%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.moonkid2 {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateX(0%) translateY(-30%);
  z-index: -1;
  width: 5%;
}

.listen-round {
  position: absolute;
  transform: translateX(-30%) translateY(-50%);
  z-index: 1;
  width: 30%;
}

.listen-round2 {
  position: absolute;
  transform: translateX(200%) translateY(-60%);
  z-index: 1;
  width: 30%;
}

.kidcloudheader0 {
  position: absolute;
  transform: translateX(200%) translateY(0%);
  width: 20%;
}

.kidcloudheader1 {
  position: absolute;
  transform: translateX(50%) translateY(200%);
  width: 12%;
}

.kidcloudheader2 {
  position: absolute;
  transform: translateX(700%) translateY(300%);
  width: 10%;
}

.kidcloudheader3 {
  position: absolute;
  transform: translateX(15%) translateY(0%);
  width: 10%;
}

.kidcloudheader4 {
  position: absolute;
  transform: translateX(550%) translateY(0%);
  width: 12%;
}

.kidcloudheader5 {
  position: absolute;
  transform: translateX(120%) translateY(0%);
  width: 15%;
}

.kidcloudheader6 {
  position: absolute;
  transform: translateX(720%) translateY(100%);
  width: 12%;
}

.cloudanimation1 {
  position: absolute;
  animation-name: cloud-one;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes cloud-one {
  0% {
    left: 0px;
    top: 80px;
  }
  50% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 80px;
  }
}
.cloudanimation2 {
  position: absolute;
  animation-name: cloud-two;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes cloud-two {
  0% {
    left: 0px;
    top: 100px;
  }
  50% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 100px;
  }
}
.flowerkid {
  position: absolute;
  top: -10%;
  left: 0%;
  z-index: -1;
  width: 20%;
}

.flowerkid2 {
  position: absolute;
  top: -30%;
  left: -3%;
  z-index: -1;
  width: 20%;
}

.flowerkid3 {
  position: absolute;
  bottom: 0%;
  right: 18%;
  width: 20%;
}

.float {
  float: left;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*換行*/
.wrap {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  --num: calc(12 / 1);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-2 {
  --num: calc(12 / 2);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-3 {
  --num: calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-4 {
  --num: calc(12 / 4);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-5 {
  --num: calc(12 / 5);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-6 {
  --num: calc(12 / 6);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-7 {
  --num: calc(12 / 7);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-8 {
  --num: calc(12 / 8);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-9 {
  --num: calc(12 / 9);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-10 {
  --num: calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-11 {
  --num: calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-12 {
  --num: calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

@media (min-width: 768px) {
  .col-md-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 20px 15px;
  }

  .col-md-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 20px 15px;
  }

  .col-md-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 20px 15px;
  }

  .col-md-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 20px 15px;
  }

  .col-md-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 20px 15px;
  }

  .col-md-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 20px 15px;
  }

  .col-md-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 20px 15px;
  }

  .col-md-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 20px 15px;
  }

  .col-md-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 20px 15px;
  }

  .col-md-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 20px 15px;
  }

  .col-md-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 20px 15px;
  }

  .col-md-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 20px 15px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
.foot {
  background-color: #A3B7CB;
  width: 100%;
}

.top-padding {
  padding-top: 15px;
}

.bottom-padding {
  padding-bottom: 60px;
}

.ftbottom-padding {
  padding-bottom: 15px;
}

.ani-op a {
  opacity: 1;
}

.ani-op a:hover {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .fontsize {
    font-size: 16px;
    line-height: 30px;
  }

  .cloud {
    margin: auto;
    width: 30%;
    max-width: 1400px;
  }

  .icon {
    margin-left: 50%;
    width: 30%;
    max-width: 1400px;
  }

  .iconnextmenu {
    margin-left: 35%;
    width: 30%;
    max-width: 1400px;
    padding-top: 20px;
  }

  .primary-nav {
    display: block;
    flex: none;
    width: auto;
    text-align: center;
  }

  .primary-nav > li {
    background-color: #87B6E2;
    padding-bottom: 20px;
    padding-top: 10px;
    border: 2px solid #ffffff;
  }

  .primary-nav > li:hover {
    background-color: #57718b;
  }

  .primary-nav a {
    display: block;
    color: #ffffff;
    width: 100%;
  }

  li > .col-5 {
    margin: 0px 0px 10px 0px;
  }
}
.submenu {
  color: #364A68;
  display: block;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

#cell-nav {
  display: none;
}

#cell-nav.active {
  display: block;
}

#btn-menu .active {
  display: block;
}

@media (min-width: 768px) {
  .flexcenter > .submenu {
    display: none;
  }

  #cell-nav {
    display: block;
  }

  #cell-nav li {
    display: block;
    line-height: 30px;
  }

  #cell-nav li > a {
    color: #57718b;
    font-size: 20px;
  }

  #cell-nav li:hover {
    background-color: #87B6E2;
    color: #ffffff;
    font-weight: bolder;
  }
}
.log-bigcontent {
  display: flex;
  flex-wrap: wrap;
}

.log-in-box {
  background-color: #87B6E2;
  width: 50%;
  box-sizing: border-box;
  padding-bottom: 10%;
  margin-bottom: 30px;
  border-radius: 10px;
}

.log-in-box2 {
  background-color: #364A68;
  width: 48%;
  margin-right: 2%;
  box-sizing: border-box;
  padding-bottom: 10%;
}

.log-in-box3 {
  background-color: #ffffff;
  width: 50%;
  box-sizing: border-box;
  padding-bottom: 20%;
  margin-bottom: 30px;
  border-radius: 15px;
}

.log-in-box4 {
  background-color: #364A68;
  width: 48%;
  margin-right: 2%;
  padding-bottom: 0%;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.log-content {
  display: block;
  border: #ffffff;
  width: 75%;
  background-color: #ffffff;
  margin: auto;
  height: 38px;
}

.log-in-box > h3 {
  text-align: center;
  margin-top: 35px;
  color: #ffffff;
  font-size: 25px;
}

.log-in-box > p {
  margin-left: 12.5%;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 18px;
}

.log-in-box > .log-confirm {
  display: block;
  background-color: #ffffff;
  width: 20%;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  color: #364A68;
  margin: 20px auto;
}

.log-in-box > .log-nomember {
  display: block;
  margin-top: 15px;
  color: #ffffff;
  font-size: 16px;
  color: #ffffff;
  text-decoration: underline;
  text-align: center;
}

section.log-bigcontent > .log-pictureparent {
  position: relative;
}

.log-picture {
  position: absolute;
  width: 90%;
  top: 80px;
  right: 0px;
}

.log-register-box1 {
  background-color: #364A68;
  width: 48%;
  margin-right: 2%;
  padding-bottom: 0%;
  box-sizing: border-box;
}

section.log-bigcontent > .register-pictureparent {
  position: relative;
}

.register-picture {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

.howtosleep-h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 30px;
  color: #364A68;
}

.howsleep-rowone {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.howsleep-rowone > .howsleep-1 {
  width: 69%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-top: 30px;
}

.howsleep-rowone > img {
  width: 28%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 30px;
}

.howsleep-1 > h2 {
  margin-bottom: 20px;
  margin-left: 25%;
  color: #57718b;
}

.howsleep-1 > p {
  margin-left: 25%;
  color: #57718b;
  line-height: 30px;
  font-size: 20px;
  text-align: justify;
  text-justify: distribute;
  padding-right: 30px;
}

.howsleep-rowtwo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.howsleep-rowtwo img {
  width: 30%;
  padding-top: 60px;
}

.howsleep-rowtwo > .howsleep-2 {
  width: 70%;
  padding-top: 60px;
}

.howsleep-2 > h2 {
  margin-bottom: 20px;
  margin-left: 25%;
  color: #57718b;
}

.howsleep-2 > p {
  margin-left: 25%;
  color: #57718b;
  line-height: 30px;
  font-size: 20px;
}

.howsleep-rowthree {
  display: flex;
  flex-wrap: wrap;
}

.howsleep-rowthree > .howsleep-3 {
  width: 100%;
  margin-top: 60px;
}

.howsleep-3 > h2 {
  text-align: right;
  margin-bottom: 30px;
  margin-left: 70px;
  color: #57718b;
  padding-right: 30px;
}

.howtosleep-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #364A68;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.howsleep-column h6 {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #364A68;
  font-size: 20px;
  margin-bottom: 18px;
  margin-top: 20px;
}

.howsleep-column p {
  color: #57718b;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
}

.howsleep-column {
  display: flex;
  flex-direction: column;
}

.howsleep-nu-row {
  display: flex;
}

.howsleep-nu-row > .howtosleep-btn {
  box-sizing: border-box;
  display: block;
  line-height: 50px;
  background-color: #87B6E2;
  border: 2px solid #364A68;
}

.nu-tab > a.active {
  background-color: #576e92;
  color: #ffffff;
}

.howsleeptab-content {
  display: none;
}

.howsleeptab-content.active {
  display: block;
}

@media (min-width: 950px) {
  .howtosleep-forcell-picture {
    display: none;
  }

  .howsleep-3 > h2 {
    text-align: right;
  }
}
@media (max-width: 950px) {
  .howtosleep-h1 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 25px;
    color: #364A68;
  }

  .howsleep-1 img {
    display: none;
  }

  .howsleep-2 img {
    display: none;
  }

  .howsleep-3 img {
    display: none;
  }

  .howsleep-rowone > .howsleep-1 {
    width: 100%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 10px;
  }

  .howsleep-rowone {
    display: block;
  }

  .howsleep-rowtwo {
    display: block;
  }

  .howsleep-rowone > img {
    width: 100%;
    padding-top: 20px;
  }

  .howsleep-1 > h2 {
    margin-bottom: 20px;
    margin-left: 0%;
    color: #57718b;
    text-align: center;
  }

  .howsleep-1 > p {
    margin-left: 5%;
    padding-right: 10px;
  }

  .howsleep-rowtwo {
    display: block;
  }

  .howsleep-rowtwo img {
    display: none;
  }

  .howsleep-rowtwo > .howsleep-2 {
    width: 100%;
    padding-top: 30px;
  }

  .howsleep-2 > h2 {
    margin-bottom: 10px;
    margin-left: 0%;
    color: #57718b;
    text-align: center;
  }

  .howsleep-2 > p {
    margin-left: 5%;
    color: #57718b;
    line-height: 30px;
    font-size: 20px;
  }

  .howsleep-rowtwo > .howtosleep-forcell-picture {
    display: block;
    width: 100%;
    padding-top: 20px;
  }

  .howsleep-rowthree > .howsleep-3 {
    padding-top: 20px;
  }

  .howsleep-nu-row > .howtosleep-btn {
    box-sizing: border-box;
    display: block;
    background-color: #87B6E2;
    border: 2px solid #364A68;
  }

  .howsleep-3 > h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}
.sleepproduct-h2 {
  padding: 20px 20px;
  color: #57718b;
  text-align: center;
}

.sleepproduct-h3 {
  padding-top: 5px;
  text-align: left;
  color: #ffffff;
  background-color: #576e92;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: bolder;
}

.aboutme-p {
  padding: 10px;
  font-size: 18px;
  line-height: 30px;
  color: #364A68;
  display: block;
  border: 2px dashed #57718b;
}

.sleepproduct-p {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #4b5967;
  line-height: 30px;
}

.sleepproduct-p2 {
  text-align: left;
  font-size: 16px;
  color: #5d8bba;
  line-height: 30px;
}

.sleepproduct-p3 {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: #4b5967;
  line-height: 30px;
}

.aboutme-h2 {
  padding: 20px 20px;
  color: #57718b;
  text-align: center;
}

.aboutme-h3 {
  padding-top: 20px;
  text-align: center;
  color: #364A68;
  padding-bottom: 5px;
}

.aboutme-p {
  padding: 10px;
  font-size: 18px;
  line-height: 30px;
  color: #364A68;
  display: block;
  border: 2px dashed #57718b;
}

.background-img {
  background-image: url(../images/aboutmebackground.svg);
}

.background-img p {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.background-img img {
  display: block;
  margin: auto;
}

.sleepserve-h2 {
  padding-top: 10px;
  color: #5d8bba;
  text-align: center;
}

.sleepserve-h3 {
  padding-top: 10px;
  text-align: center;
  color: #576e92;
  padding-bottom: 5px;
}

.sleepserve-h3-2 {
  padding: 10px;
  font-size: 22px;
  line-height: 30px;
  color: #364A68;
  display: block;
  border: 2px dotted #57718b;
  text-align: center;
}

.sleepserve-p {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #57718b;
  line-height: 30px;
}

.sleepserve-h5 {
  color: #364A68;
  text-align: center;
  font-size: 25px;
  background-color: #87B6E2;
  width: 50%;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
}

.sleepserve-h6 {
  color: #364A68;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

.font-weight {
  color: #5d8bba;
}

.gohole-p {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bolder;
  color: #364A68;
  margin-top: 40px;
}

.logfirstpage-gohole {
  display: flex;
  background-color: #364A68;
  margin-bottom: 30px;
  justify-content: center;
}

.logfirstpage-gohole img {
  width: 100%;
  display: block;
}

.first-member-page-row {
  display: flex;
}

.first-member-page {
  background-color: #576e92;
}

.sleepmember-h6 {
  color: #ffffff;
  font-size: 20px;
}

.sleepmember-p {
  font-size: 18px;
}

.sleepmember-margin-0 {
  margin-top: 20px;
}

.sleepmember-margin {
  box-sizing: border-box;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.sleepmember-margin-2 {
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
}

.sleepmember-check {
  display: block;
  background-color: #ffffff;
  width: 20%;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  font-size: 18px;
}

.sleepmember-check:hover {
  background-color: #87B6E2;
  font-weight: bolder;
}

.textarea-control {
  resize: none;
  height: 200px;
  max-height: 200px;
  margin-bottom: 20px;
}

.sleepcheck-parent {
  display: flex;
  justify-content: flex-end;
}

.flex-shrink {
  flex-shrink: 1;
}